@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

:root {
	--primario: #297fc8;
	--secundario: #ba87c9;
	--textos: #030303;
	--lightgray: #f7f7f7;
	--error-color: #e74c3c;
	--success-color: #2ecc71;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	font-family: Raleway;
	position: relative;
}

/* ========== HEADER SECTION ========== */

.logo-container a {
	text-transform: none;
	color: var(--primario);
}

.header-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	width: 70%;
	margin: 0 auto;
	height: 80px;
	padding: 20px 0px;
	background-color: white;
	transition: 0.6s;
}

.logo-container {
	color: var(--primario);
}

.navbar-container {
	position: relative;
}
.navbar-items {
	list-style: none;
	display: flex;
}

.navbar-items li {
	margin-right: 2rem;
	text-transform: uppercase;
}

.navbar-items li:last-of-type {
	margin-right: 0px;
}

.navbar-link {
	color: var(--textos);
	font-size: 15px;
}

.navbar-link:hover {
	color: var(--secundario);
}

.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}
.login-button {
	color: var(--secundario);
	background-color: #fff;
	border: 1px solid var(--secundario);
	padding: 12px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
}

.login-button:hover {
	background-color: var(--secundario);
	color: #fff;
}

.signup-button {
	background-color: var(--secundario);
	color: #fff;
	border: 1px solid var(--secundario);
	padding: 12px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
}

.signup-button:hover {
	background-color: #b470c9;
}

.cart-button {
	position: relative;
}

.cart-button img {
	width: 25px;
	cursor: pointer;
}

.notification {
	position: absolute;
	background-color: var(--secundario);
	color: #fff;
	font-size: 12px;
	padding: 2px 7px;
	border-radius: 50px;
	left: 20px;
	top: 20px;
}

/* ========== MODAL CARRITO ========== */

.offcanvas {
	position: absolute;
	z-index: 2000;
	width: 500px;
	height: 100vh;
	background-color: #fff;
	border-radius: 10px 0px 0px 10px;
	right: 0;
	top: 0;
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
	animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	overflow: scroll;
}

@-webkit-keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

.offcanvas-header {
	display: flex;
	background-color: var(--secundario);
	padding: 10px 20px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.offcanvas-header h5 {
	width: 50%;
	font-size: 1.1rem;
	color: #fff;
	font-weight: 400;
}

.offcanvas-header .close-modal {
	text-align: right;
	width: 50%;
}
.offcanvas-header .close-modal button {
	border: 1px solid #fff;
	padding: 5px 9px;
	border-radius: 100px;
	background-color: transparent;
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
}

.cart-list-headers {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
	border-bottom: 1px solid var(--secundario);
}

.noproducts-notification {
	padding: 10px 10px;
	border: 1px solid var(--secundario);
	border-radius: 10px;
	width: 80%;
	margin: 25px auto;
}

.noproducts-notification p {
	text-align: center;
}

.close-button {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

.cart-modal-products {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.product {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px 0px;
	border-bottom: 1px solid var(--lightgray);
}

.cart-title {
	max-width: 88px;
	padding-left: 20px;
}

.cart-delete {
	padding-right: 20px;
}

.cart-list-headers h2 {
	font-size: 1rem;
}

.total-cart {
	padding: 0px 20px 20px 20px;
	border-bottom: 1px solid var(--secundario);
}

.total-sum {
	margin-top: 15px;
	text-align: right;
}

.shipping-text {
	margin-top: 20px;
	text-align: right;
	font-weight: 700;
}

.total-sum span {
	font-weight: 700;
}

.shipping-rate {
	position: relative;
	width: 100%;
	padding: 20px 20px 0px 20px;
	margin: 0 auto;
}

.shipping-rate p {
	font-size: 1rem;
	padding-bottom: 20px;
}

.shipping-rate p span {
	color: var(--secundario);
}

.form-calcular {
	width: 100%;
	max-width: 100%;
}

.form-calcular input[type='text'] {
	border: 0;
	border-radius: 50px;
	font-size: 14px;
	padding: 10px 20px;
	width: 100%;
	background-color: var(--lightgray);
	color: black;
}

.form-calcular button {
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--primario);
	color: #ffffff;
	border-radius: 0 50px 50px 0;
	border: 0;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 14px;
	cursor: pointer;
}

.form-calcular button:hover {
	opacity: 0.8;
}

.takeaway {
	padding: 20px 20px;
	border-bottom: 1px solid var(--secundario);
}

.tarjeta-takeaway {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 20px 30px;
	border: 1px solid #e0e0e0;
	border-radius: 10px;
}

.tarjeta-takeaway-check {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 20px 30px;
	border: 1px solid var(--secundario);
	border-radius: 10px;
}

.tarjeta-takeaway h3 {
	color: var(--secundario);
}

.tarjeta-takeaway-check h3 {
	color: var(--secundario);
}

.total-final {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px;
}

.total-final h2 {
	color: var(--primario);
}

.iniciar-compra {
	padding: 20px 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.iniciar-compra p {
	padding-top: 10px;
	font-size: 0.8rem;
	cursor: pointer;
}
.iniciar-compra button {
	padding: 10px 25px;
	color: #fff;
	background-color: var(--primario);
	border-radius: 10px;
	font-size: 1.2rem;
	margin: 0 auto;
	cursor: pointer;
}

.iniciar-compra button:hover {
	opacity: 0.8;
}

/* ========== WELCOME SECTION ========== */

.welcome {
	display: flex;
	margin: 0 auto;
	width: 100%;
	background-image: url(../assets/flores-background.jpg);
	min-height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.welcome-info {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.welcome-info h1 {
	font-size: 2.5rem;
	font-weight: 400;
	color: var(--primario);
}

.welcome-info h2 {
	margin-top: 1rem;
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--primario);
}

.welcome-info a {
	background-color: var(--secundario);
	color: #fff;
	font-size: 1.2rem;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 30px;
}

.welcome-info a:hover {
	background-color: #b470c9;
}

/* ========== FILTER SECTION ========== */

.filter {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	margin: 0 auto;
	padding-top: 3rem;
	justify-content: center;
}

.product-title {
	font-size: 2rem;
}

.product-title span {
	color: var(--primario);
}

.product-filter {
	margin-top: 2.5rem;
	display: flex;
	gap: 2rem;
}

.filter-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.filter-item img {
	width: 70px;
	border: 1px solid #757575;
	border-radius: 50px;
	padding: 12px;
	cursor: pointer;
}

.filter-item p {
	margin-top: 10px;
	color: var(--textos);
	cursor: pointer;
}

/* ========== PRODUCTS SECTION ========== */

.products {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding-top: 2rem;
	padding-bottom: 2rem;
	width: 90%;
	flex-wrap: wrap;
}

.products-card {
	border: 1px solid var(--textos);
	padding: 1rem 0rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1rem;
	max-width: 350px;
	min-width: 250px;
	position: relative;
}

.products-card-title {
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: capitalize;
}

.products-category {
	font-size: 0.7rem;
	color: var(--primario);
	text-transform: capitalize;
	/* position: absolute;
	top: -15px;
	left: -30px;
	height: 0;
	border: 25px solid transparent;
	border-bottom: 25px solid var(--secundario);
	line-height: 23px;
	transform: rotate(-45deg); */
}

.products-card-img {
	max-width: 120px;
	margin: 20px 0px;
}

.products-card-price {
	font-size: 1.1rem;
	font-weight: 400;
}

.products-input-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
	max-width: 150px;
}

.products-input-container h3 {
	font-size: 0.8rem;
	font-weight: 400;
	letter-spacing: 1px;
}

.products-inputBox {
	background-color: var(--lightgray);
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 0px 0px;
	width: 30%;
	font-size: 0.8rem;
	margin: 0rem 1rem;
	text-align: center;
}

.products-btn {
	background-color: var(--secundario);
	color: #fff;
	width: 70%;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
}

/* ========== HOW IT WORKS SECTION ========== */

.how-it-works {
	background-image: url(../assets/florista-background.jpg);
	width: 100%;
	min-height: 500px;
	background-position: center;
	background-size: cover;
	position: relative;
}

.how-it-works::after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.how-it-works-info {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 3rem 0rem;
}

.how-it-works-info h2 {
	color: var(--primario);
	z-index: 1;
	font-size: 2.5rem;
	padding: 30px 0px;
}

.how-it-works-items {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
	margin-top: 30px;
	gap: 15px;
}

.how-it-works-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	max-width: 35%;
	text-align: center;
	gap: 15px;
	color: #fff;
	z-index: 1;
	padding: 0px 15px;
}

.how-it-works-item h3 {
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
	text-shadow: 1px 1px 2px #000000;
}

.how-it-works-item p {
	text-shadow: 1px 1px 2px #000000;
}

/* ========== FOOTER SECTION ========== */

.contact-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px 0px;
}

.contact-section h3 {
	font-size: 1.7rem;
	color: var(--primario);
}

.contact {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	padding: 30px 0px;
}

.footer-form {
	max-width: 40%;
	background-color: #f0f0f0;
	padding: 30px;
}

.button-submit {
	padding: 10px 30px;
	background-color: var(--secundario);
	color: white;
	border-radius: 7px;
	margin-top: 20px;
}

.contact-form {
	border-radius: 5px;
}

.contact-form input[type='text'],
[type='email'] {
	width: 100%;
	padding: 15px 20px;
	border: 1px solid var(--lightgray);
	border-radius: 5px;
	margin-top: 15px;
	color: var(--textos);
}

.contact-form textarea {
	width: 100%;
	padding: 20px;
	border: 1px solid var(--lightgray);
	border-radius: 5px;
	color: var(--textos);
	margin-top: 15px;
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

.display-none {
	display: none;
}

.footer {
	width: 100%;
	background-color: #000000;
	min-height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.footer-map {
	width: 40%;
}

.footer p {
	color: white;
}

.footer a {
	color: white;
	text-decoration: underline;
}

.footer-form small {
	visibility: hidden;
}

.contact-form.success input {
	border-color: var(--success-color);
}

.contact-form.success textarea {
	border-color: var(--success-color);
}

.contact-form.error input {
	border-color: var(--error-color);
}

.contact-form.error textarea {
	border-color: var(--error-color);
}

.contact-form small {
	color: var(--error-color);
	/* position: absolute; */
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.contact-form.error small {
	visibility: visible;
}

.small {
	font-size: 15px;
	padding: 0px 20px;
	color: var(--success-color);
}
